<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_ImageQueue>
            <version>1.0.0.2</version>
        </MageProfis_ImageQueue>
    </modules>
    <global>

        <models>
            <imagequeue>
                <class>MageProfis_ImageQueue_Model</class>
                <resourceModel>imagequeue_resource</resourceModel>
            </imagequeue>
            <imagequeue_resource>
                <class>MageProfis_ImageQueue_Model_Resource</class>
                <entities>
                    <compress>
                        <table>imagequeue_compress</table>
                    </compress>
                </entities>
            </imagequeue_resource>
            <catalog>
                <rewrite>
                    <product_image>MageProfis_ImageQueue_Model_Catalog_Product_Image</product_image>
                </rewrite>
            </catalog>
        </models>

        <helpers>
            <imagequeue>
                <class>MageProfis_ImageQueue_Helper</class>
            </imagequeue>
            <timage>
                <rewrite>
                    <data>MageProfis_ImageQueue_Helper_Timage_Data</data>
                </rewrite>
            </timage>
        </helpers>

        <resources>
            <imagequeue_setup>
                <setup>
                    <module>MageProfis_ImageQueue</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </imagequeue_setup>
        </resources>

        <cms>
            <page>
                <tempate_filter>imagequeue/cms_template_filter_page</tempate_filter>
            </page>
            <block>
                <tempate_filter>imagequeue/cms_template_filter_block</tempate_filter>
            </block>
        </cms>

    </global>

    <crontab>
        <jobs>
            <imagequeue_images_jpg>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>imagequeue/cron::runJpg</model>
                </run>
            </imagequeue_images_jpg>
            <imagequeue_images_png>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>imagequeue/cron::runPng</model>
                </run>
            </imagequeue_images_png>
            <imagequeue_images_webp>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>imagequeue/cron::runWebp</model>
                </run>
            </imagequeue_images_webp>
        </jobs>
    </crontab>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <imagequeue>
                                            <title>Image Queue</title>
                                        </imagequeue>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <imagequeue>
            <general>
                <imagequality_gd>90</imagequality_gd>
            </general>
            <webp>
                <imagequality>90</imagequality>
            </webp>
            <jpeg>
                <imagequality>90</imagequality>
            </jpeg>
        </imagequeue>
    </default>
</config>
